.ipynb_checkpoints
legacy_code/
.DS_Store
__pycache__
tskit_arg_visualizer.egg-info/
unused.txt
examples/
tskit_arg_visualizer/_version.py
dist/
old_dist/
mwe.html
mwe.qmd
mwe_files/
zoom_table/
.vscode/
docs/manuscript