.d3arg {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: white;
    padding: 10px;
}

.dashboard {
    width: 100%;
}

.yaxis path {
    stroke: #053e4e;
    stroke-width: 3;
}

.yaxis line {
    stroke: #053e4e;
    stroke-width: 3;
}

.yaxis text {
    fill: #053e4e;
    stroke: 1;
}

.node {
    fill: #1eebb1;
    stroke: #053e4e;
    stroke-width: 3;
}

.hiddennode {
    fill: lightgrey;
    stroke: lightgrey;
    stroke-width: 3;
}

.underlink {
    stroke: #ffffff;
    stroke-width: 10;
    fill: none;
}

.link {
    stroke: #053e4e;
    stroke-width: 3;
    fill: none;
}

.hiddenlink {
    stroke: lightgrey;
    stroke-width: 3;
    fill: none;
}

.label {
    text-anchor: middle;
    fill: #053e4e;
    font-family: Arial;
    font-size: 12;
}

.hiddenlabel {
    text-anchor: middle;
    fill: lightgrey;
    font-family: Arial;
    font-size: 12;
}

svg {
    display: block;
}

button {
    display: block;
    cursor: pointer;
}

.saving {
    display: flex;
    flex-direction: row;
}

.saving .message {
    display: none;
}